.line {
    background-color: #8d9ce7;
    display: flex;
    margin-top: 80px;
    height: 80px;

}

.selectBoxWrapper {
    display: flex;
    margin-left: 80px;
    width: 500px;
    flex-direction: column;
    justify-content: center;
}